
@{
    ViewData["Title"] = "About";
}
@model List<Passengers>
<h1 style="text-align: center;">Passengers Details</h1>
<div class="breadcrumb">
    <style>

        .table-with-borders {
            border-collapse;
        }

        .table-with-spacing {
            margin: 20px;
        }

            .table-with-spacing th {
                text-align: center;
                border: 2px solid #000;
                padding: 8px;
            }

            .table-with-spacing td {
                border: 2px solid #000;
                text-align: center;
                padding: 10px;
            }
    </style>
    <table class="table-with-spacing table-with-borders">
        <thead>
            <tr>
                <th>Passenger ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Passport ID </th>
                <th>Email Address & Mobile Number </th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var passengers in Model)
            {
                <tr>
                    <td>@passengers.PassengerID</td>
                    <td>@passengers.FirstName</td>
                    <td>@passengers.LastName</td>
                    <td>@passengers.DateOfBirth</td>
                    <td>@passengers.PassportID</td>
                    <td>@passengers.ContactInformation</td>
                   
                </tr>
            }
        </tbody>
    </table>

</div>
